<mat-menu #admissionsMenu="matMenu">
  <a mat-menu-item>Settings</a>
  <a mat-menu-item>Help</a>
</mat-menu>

<mat-menu #discoverMenu="matMenu">
  <a mat-menu-item>About Immanuel School</a>
  <a mat-menu-item>Our Facilities</a>
  <a mat-menu-item>Our C.E.O</a>
  <a mat-menu-item>Our Team</a>
  <a mat-menu-item>Meet The Principal</a>
  <a mat-menu-item>Discipline Policy</a>
</mat-menu>

<mat-menu #advancedMenu="matMenu">
  <a mat-menu-item>Undergraduate Foundation Programme</a>
  <a mat-menu-item>Cambridge A Level</a>
</mat-menu>

<div class="nav-menu-bar">
  <a [routerLink]="['']" routerLinkActive="active">
    Home
  </a>

  <a [matMenuTriggerFor]="admissionsMenu">
    ADMISSIONS
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

  <a [matMenuTriggerFor]="discoverMenu">
    DISCOVER
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

  <a [routerLink]="['']" routerLinkActive="active">
    Pre-school
  </a>

  <a [routerLink]="['']" routerLinkActive="active">
    Junior
  </a>

  <a [routerLink]="['']" routerLinkActive="active">
    High School
  </a>

  <a [matMenuTriggerFor]="advancedMenu">
    Advanced Classes
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

  <a [routerLink]="['']" routerLinkActive="active">
    Contact
  </a>
</div>
