<mat-menu #admissionsMenu="matMenu">
  <a mat-menu-item [routerLink]="['admissions']">Currently Enrolling</a>
  <a mat-menu-item [routerLink]="['admissions', 'entrance-exams']"
    >Entrance Examination</a
  >
</mat-menu>

<mat-menu #discoverMenu="matMenu">
  <a mat-menu-item [routerLink]="['discover/about']" routerLinkActive="about"
    >About Immanuel School</a
  >
  <a
    mat-menu-item
    [routerLink]="['discover', 'our-facilities']"
    routerLinkActive="'our-facilities'"
    >Our Facilities</a
  >
  <a
    mat-menu-item
    [routerLink]="['discover', 'our-ceo']"
    routerLinkActive="our-ceo"
    >Our C.E.O</a
  >
  <a
    mat-menu-item
    [routerLink]="['discover', 'our-team']"
    routerLinkActive="our-team"
    >Our Team</a
  >
  <a
    mat-menu-item
    [routerLink]="['discover', 'meet-the-principal']"
    routerLinkActive="meet-the-principal"
    >Meet The Principal</a
  >
  <a
    mat-menu-item
    [routerLink]="['discover', 'discipline-policy']"
    routerLinkActive="discipline-policy"
    >Discipline Policy</a
  >
</mat-menu>

<mat-menu #advancedMenu="matMenu">
  <a mat-menu-item [routerLink]="['/advanced']" routerLinkActive="advanced"
    >Undergraduate Foundation Programme</a
  >
  <a
    mat-menu-item
    [routerLink]="['advanced/cambridge-a-level']"
    routerLinkActive="cambridge-a-level"
    >Cambridge A Level</a
  >
</mat-menu>

<div class="nav-menu-bar">
  <a [routerLink]="['']" routerLinkActive="active">
    Home
  </a>

  <a [matMenuTriggerFor]="admissionsMenu">
    ADMISSIONS
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

  <a [matMenuTriggerFor]="discoverMenu">
    DISCOVER
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

  <a [routerLink]="['']" routerLinkActive="active">
    Pre-school
  </a>

  <a [routerLink]="['']" routerLinkActive="active">
    Junior
  </a>

  <a [routerLink]="['']" routerLinkActive="active">
    High School
  </a>

  <a [matMenuTriggerFor]="advancedMenu">
    Advanced Classes
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

  <a [routerLink]="['']" routerLinkActive="active">
    Contact
  </a>
</div>
