<div class="top-footer">
  <div class="left-top-footer">
    <app-footer-links-column
      *ngFor="let column of footerLinks"
      [model]="column"
    ></app-footer-links-column>
  </div>
  <div class="right-top-footer">
    stuff
  </div>
</div>

<div class="bottom-footer">
  <div>
    <header>Connect with us</header>
  </div>
  <div>
    <header>get the latest ifs info</header>
    <mat-form-field>
      <mat-placeholder>Email</mat-placeholder>
      <input matInput type="email" />
      <button mat-button matSuffix mat-stroked-button aria-label="subscribe">
        Subscribe
        <!-- <mat-icon>email</mat-icon> -->
      </button>
    </mat-form-field>
  </div>
  <div>
    <header>ifs on instagram</header>
  </div>
</div>
